= link_to new_list_path, class: "inline-flex items-center text-blue-500 hover:text-blue-700 font-medium" do
  %svg.w-4.h-4.mr-2{ fill: "none", stroke: "currentColor", "stroke-width" => "2", viewBox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg" }
    %path{ "stroke-linecap" => "round", "stroke-linejoin" => "round", d: "M12 4.75v14.5m7.25-7.25H4.75" }
  Add List
