%body.bg-background
  .bg-background
    .relative.isolate.px-6.pt-8.lg:px-8.mx-auto
      .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
        .flex.items-center.justify-between.mb-4
          %h1.text-1xl.font-bold Dues
          = link_to select_dates_lists_path, class: 'text-black underline' do
            = render "svg/gear"
        = render "lists/check_list"
        = render "lists/add_list"
