- links = []
- links << { text: "Log In", path: new_session_path(resource_name) } if controller_name != 'sessions'
- links << { text: "Sign Up", path: new_registration_path(resource_name) } if devise_mapping.registerable? && controller_name != 'registrations'
- links << { text: "Forgot your password?", path: new_password_path(resource_name) } if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
- links << { text: "Didn't receive confirmation instructions?", path: new_confirmation_path(resource_name) } if devise_mapping.confirmable? && controller_name != 'confirmations'
- links << { text: "Didn't receive unlock instructions?", path: new_unlock_path(resource_name) } if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    links << { text: "Sign in with #{OmniAuth::Utils.camelize(provider)}", path: omniauth_authorize_path(resource_name, provider), button: true }
- if links.any?
  %div.flex.items-center
    - links.each_with_index do |link, index|
      - if link[:button]
        = button_to link[:text], link[:path], data: { turbo: false }, class: "text-blue-600 hover:underline"
      - else
        = link_to link[:text], link[:path], class: "text-blue-600 hover:underline"
      - unless index == links.size - 1
        %span.mx-2.text-gray-500
          |
