%header.absolute.inset-x-0.top-0.z-50{ data: { controller: "menu" } }
  %nav.flex.items-center.justify-between.p-6.lg:px-8{ aria: { label: "Global" } }
    .flex.lg:flex-1
      %a{ href: "/", class: "-m-1.5 p-1.5" }
        %span.sr-only NexDue
        %img.h-10.w-10.rounded-full{ src: image_path('nextdue_leaf_icon_64x64.png'), alt: "NexDue Icon" }

    .flex.lg:hidden
      %button{ type: "button", class: "-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700", data: { action: "menu#toggle" } }
        %span.sr-only Open main menu
        %svg.h-10.w-10{ fill: "none", viewBox: "0 0 23 24", strokeWidth: "1.5", stroke: "currentColor", aria: { hidden: "true" } }
          %path{ strokeLinecap: "round", strokeLinejoin: "round", d: "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" }

    .hidden.lg:flex.lg:gap-x-12
      - if user_signed_in?
        %a{ href: "/lists", class: "text-sm font-semibold leading-6 text-gray-900" } Dues
        %a{ href: "/user_setting", class: "text-sm font-semibold leading-6 text-gray-900" } Settings
      -# - if request.path != "/"
        -# %a{ href: "/", class: "text-sm font-semibold leading-6 text-gray-900" } Home
      -# %a{ href: "#features", class: "text-sm font-semibold leading-6 text-gray-900" } Features
      -# %a{ href: "#analytics", class: "text-sm font-semibold leading-6 text-gray-900" } Analytics
      %a{ href: "#about", class: "text-sm font-semibold leading-6 text-gray-900" } About

    = render "layouts/user_log", mobile: false

  .lg:hidden{ role: "dialog", aria: { modal: "true" }, data: { menu_target: "menu" }, class: "hidden" }
    .fixed.inset-0.z-50
    %div{ class: "fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10" }
      .flex.items-center.justify-between
        %a{ href: "/", class: "-m-1.5 p-1.5" }
          %span.sr-only NexDue
          %img.h-8.w-auto.rounded-full{ src: image_path('nextdue_leaf_icon_64x64.png'), alt: "NexDue Icon" }
        %button{ type: "button", class: "-m-2.5 rounded-md p-2.5 text-gray-700", data: { action: "menu#toggle" } }
          %span.sr-only Close menu
          %svg.h-6.w-6{ fill: "none", viewBox: "0 0 24 24", strokeWidth: "1.5", stroke: "currentColor", aria: { hidden: "true" } }
            %path{ strokeLinecap: "round", strokeLinejoin: "round", d: "M6 18L18 6M6 6l12 12" }

      .mt-6.flow-root
        %div{ class: "-my-6 divide-y divide-gray-500/10" }
          .space-y-2.py-6
            - if user_signed_in?
              %a{ href: "/lists", class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" } Dues
              %a{ href: "/user_setting", class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" } Settings
            -# - if request.path != "/"
              -# %a{ href: "/", class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" } Home
            -# %a{ href: "#features", class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" } Features
            -# %a{ href: "#analytics", class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" } Analytics
            %a{ href: "#about", class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" } About
          .py-6
            = render "layouts/user_log", mobile: true
